# Dependency directories
/node_modules

# Environment variables file
.env

# Log files
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Mac OS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db
